mxbuilds/*
!mxbuilds/.gitkeep

/*.launch
deployment
packages
releases
.mendix-cache
.classpath
.project
mta.mpr.bak
mta.mpr.lock
modeler-merge-marker
project-settings.user.json
**/javasource/**/proxies/*
**/javasource/system
**/node_modules
!javascriptsource/**/node_modules
nativemobile/builds
theme-cache
GPUCache